/*
$scheme-color-0:    $scales-color-0;
$scheme-color-1:    $scales-color-1;
$scheme-color-2:    $scales-color-2;
$scheme-color-3:    $scales-color-3;
*/
html {
  margin: 0;
  padding: 0;
  font-smooth: never;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  font-weight: 400;
  line-height: 1.618;
  background: #FDFEFF;
  color: #424652;
  overflow-x: hidden;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.4;
  font-weight: 600;
  margin: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 32px;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 30px;
  letter-spacing: 0.1px;
}

h3 {
  font-size: 28px;
  letter-spacing: 0.1px;
}

h4 {
  font-size: 17px;
  letter-spacing: 0.1px;
}

h5 {
  font-size: 15px;
  letter-spacing: 0.1px;
}

p {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.x {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 3em;
  padding-right: 3em;
  max-width: 1368px;
}
@media (max-width: 768px) {
  .x {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (max-width: 768px) {
  .x.tablet-max {
    padding-left: 0;
    padding-right: 0;
  }
}
.x.narrow {
  max-width: 900px;
}
.x.nomax {
  max-width: 999999px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.T16 {
  margin-top: 16px;
}

.R16 {
  margin-right: 16px;
}

.B16 {
  margin-bottom: 16px;
}

.L16 {
  margin-left: 16px;
}

.t16 {
  padding-top: 16px;
}

.r16 {
  padding-right: 16px;
}

.b16 {
  padding-bottom: 16px;
}

.l16 {
  padding-left: 16px;
}

.F12 {
  font-size: 12px;
}

.bl {
  display: block;
}

.r {
  display: flex;
  justify-content: space-between;
}

.y {
  display: flex;
}

.z {
  justify-content: space-between;
}

.T {
  text-align: center;
}

.dn {
  display: none;
}

.drop-button {
  position: relative;
  height: 18px;
  padding: 32px 0;
}

.D {
  box-sizing: border-box;
}

.W {
  width: 100%;
}

.G {
  display: grid;
}

.crt:before, .crt:after {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  background: #414552;
  position: absolute;
  right: 1px;
  border-radius: 4px;
  top: 42px;
}
.crt:before {
  transform: translateX(-5px) rotate(45deg);
}
.crt:after {
  transform: rotate(-45deg);
}

.BB {
  box-shadow: inset 0 -1px rgb(235, 238, 241);
}

.BY {
  box-shadow: inset -1px 0 rgb(235, 238, 241);
}

.BL {
  box-shadow: inset 0 -1px rgb(235, 238, 241);
}

.FL:before, .FL:after {
  content: "";
  display: block;
  height: 2px;
  background: #414552;
  position: absolute;
  right: 14px;
  top: 0px;
  border-radius: 1px;
}
.FL:before {
  width: 14px;
  transform: translateY(34px);
}
.FL:after {
  width: 10px;
  transform: translate(-2px, 40px);
}

.PT,
.pointer {
  cursor: pointer;
}

.mla {
  margin-left: auto;
}

.BlA > span,
.BlA > a {
  padding-left: 1em;
  display: block;
  text-align: left;
  color: #424652;
  font-weight: 500;
  line-height: 26px;
  font-size: 13px;
}

button {
  border-radius: 4px;
  outline: none;
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  background: transparent;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  font-size: 13px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  padding: 10px 18px 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out all;
  box-shadow: 1px 2px 5px 0 rgba(255, 255, 255, 0.01);
  position: relative;
  font-size: 13px;
  color: #425466;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}
.btn.blue {
  color: #5984FF;
  background: rgba(56, 128, 255, 0.1);
  box-shadow: none !important;
  border: none;
}
.btn.red {
  color: #ff003f;
  background: rgba(255, 68, 127, 0.1);
}
.btn.green {
  color: #ceff00;
  background: rgba(223, 255, 48, 0.1);
}
.btn.no-bg {
  background: rgba(255, 255, 255, 0);
}
.btn.gray {
  background: rgba(230, 232, 233, 0.4);
}
.btn.border {
  border: 1px solid rgba(0, 2, 4, 0.05);
}
.btn.A {
  border: 1px solid #5984FF !important;
  color: #5984FF;
}
.btn.A span {
  color: #5984FF;
}

.BR {
  background: rgba(51, 54, 56, 0.04);
  width: calc(20% - 8px);
  padding: 10px 0 7px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.BR > .E {
  display: block;
  font-size: 19px;
  margin-bottom: 0;
}
.BR:hover {
  border: 2px solid #3E60C1;
  box-shadow: 0 0 0 3px rgba(62, 96, 193, 0.4);
}
.BR.A, .BR.active {
  border: 2px solid #3E60C1;
  box-shadow: 0 0 0 1px #3E60C1;
}

.btn-demographics {
  background: rgba(51, 54, 56, 0.04);
  padding: 8px 0 8px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.btn-demographics > .E {
  font-size: 19px;
  margin-bottom: 0;
}
.btn-demographics:hover {
  border: 2px solid #3E60C1;
  box-shadow: 0 0 0 3px rgba(62, 96, 193, 0.4);
}
.btn-demographics.active {
  border: 2px solid #3E60C1;
  box-shadow: 0 0 0 1px #3E60C1;
}

.BZ {
  top: 0;
  transform: translateY(0px);
  background: rgba(51, 54, 56, 0.04);
  border-radius: 4px;
  position: relative;
  margin: 4px 3px;
  color: #878c8f;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
}
@media (max-width: 768px) {
  .BZ {
    padding: 6px 9px 6px 9px;
    font-size: 15px;
    line-height: 2.4;
  }
}
@media (min-width: 769px) {
  .BZ {
    padding: 4px 6px 4px 5px;
    font-size: 11px;
  }
}
.BZ.A, .BZ.active, .BZ:hover {
  transition: 0.2s ease-in-out all;
  color: #5984FF;
  background: rgba(56, 128, 255, 0.1);
}

.BW {
  margin: 0;
  top: 0;
  transform: translate(20px, 17px);
  color: #5984FF;
  background: rgba(56, 128, 255, 0.1);
  border-radius: 4px;
  position: absolute;
  margin: 4px 3px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
}
@media (max-width: 768px) {
  .BW {
    padding: 6px 9px 6px 9px;
    font-size: 15px;
    line-height: 2.4;
  }
}
@media (min-width: 769px) {
  .BW {
    padding: 4px 6px 4px 5px;
    font-size: 11px;
  }
}
.BW.active, .BW:hover {
  transition: 0.2s ease-in-out all;
}

.btn-rating {
  font-size: 11px;
  padding: 0;
  border-radius: 4px;
  position: relative;
  margin: 4px 3px;
  line-height: 2.5;
  font-weight: 700;
  color: #878c8f;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

#signupeq,
#btnSso {
  width: 100%;
  max-width: none;
  height: 45px;
  display: flex;
  background: #4285F4;
  margin: 1em auto;
  border-width: 1px;
  border-radius: 3px;
  color: white;
  line-height: 45px;
  font-size: 12px;
  box-shadow: 0 3px 6px 0 rgba(36, 129, 215, 0.04), 0 2px 3px 0 rgba(36, 129, 215, 0.04);
  text-align: center;
  display: block;
  font-weight: 500;
}

.dots {
  width: 15px;
  height: 38px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}
.dots .d0,
.dots .d1,
.dots .d2 {
  width: 3px;
  height: 3px;
  background: #878c8f;
  position: absolute;
  border-radius: 2px;
  top: 19px;
}
.dots .d0 {
  left: 0px;
}
.dots .d1 {
  left: 50%;
  transform: translateX(-50%);
}
.dots .d2 {
  right: 0px;
}

.dts {
  width: 30px;
  height: 35.5px;
  position: relative;
}

.dropfilt {
  min-width: 180px;
  right: 0;
  position: absolute;
  padding: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 999;
  background: white;
  margin: 0;
  top: 54px;
  cursor: pointer;
  box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, 0.1);
  border-radius: 24px;
  padding: 14px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
  transform: translate(8px, 20px);
}

#stusDrop {
  transform: translate(0, 10px);
  left: 0;
}
#stusDrop.show {
  visibility: visible;
  opacity: 1;
}

#filtDropdown {
  visibility: hidden;
  box-sizing: border-box;
  font-size: 14px;
  opacity: 0;
  height: 0;
  transition: 0.2s ease all;
}
#filtDropdown.show {
  visibility: visible;
  opacity: 1;
  height: 76px;
}

#scoreRangex {
  box-sizing: border-box;
}
#scoreRangex .range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
#scoreRangex .sliders_control {
  position: relative;
  min-height: 50px;
}
#scoreRangex .form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}
#scoreRangex input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}
#scoreRangex input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}
#scoreRangex input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}
#scoreRangex input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
#scoreRangex input[type=number] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}
#scoreRangex input[type=number]::-webkit-inner-spin-button,
#scoreRangex input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
#scoreRangex input[type=range] {
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}
#scoreRangex #fromSlider {
  height: 0;
  z-index: 1;
  background: transparent;
}
#scoreRangex #toSlider {
  z-index: 0;
}

input {
  padding: 8px 9px 8px 9px;
}

textarea {
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
}

input,
textarea {
  font-size: 13px;
  background: white;
  margin-top: 5px;
  transition: 0.2s ease-out border;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 0 5px -1px rgba(89, 90, 100, 0.2);
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: block;
}

input:active,
textarea:active,
input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
  border: 1px solid rgba(153, 166, 255, 0.7);
  box-shadow: 0 0 0 5px rgba(89, 132, 255, 0.2);
  outline: none;
}

.dateWr {
  width: 101px;
  padding: 5px 8px;
  background: white;
  box-shadow: inset 0 0 5px -1px rgba(89, 90, 100, 0.2);
  border-radius: 4px;
}
.dateWr > input {
  padding: 0;
  display: inline;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin: 0;
}
.dateWr > input:active, .dateWr > input:focus-visible, .dateWr > input:focus {
  border-radius: 0;
  border: none !important;
  box-shadow: none !important;
  background: blue;
}

a {
  text-decoration: none;
  color: #424652;
  font-weight: 500;
  transition: 0.2s color ease-out;
}

a:hover, a:active, a:focus, a:visited {
  outline: none;
  color: #424652;
  font-weight: 500;
  transition: 0.2s color ease-in;
}

#ZZ {
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  top: 0;
  left: 0;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  display: none;
}

#buyCredData {
  top: 0;
  left: 0;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  display: none;
}

#buyCredData > * {
  padding: 2em 0;
}

#buyCredData > *:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

#buyCredData > * .disc {
  font-size: 9px;
}

#buyCredData a {
  font-size: 29px;
}

#Na {
  width: 100%;
  height: 82px;
  z-index: 99;
  transition: 0.1s ease-out padding;
  position: absolute;
  z-index: 9999999;
}
@media (max-width: 768px) {
  #Na #Lb {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 769px) {
  #Na #Lb {
    width: 148px;
    line-height: 82px;
    cursor: pointer;
  }
}
#Na #Lb .caret {
  width: 14px;
  margin-left: 10px;
  transform: translateY(31px);
  position: absolute;
}
@media (max-width: 768px) {
  #Na button svg {
    opacity: 0;
  }
}
#Na #links li {
  font-size: 15px;
  font-weight: 500;
  display: block;
}
#Na #links li p {
  font-size: 12px;
}
@media (min-width: 769px) {
  #Na #links li p {
    visibility: hidden;
    position: absolute;
  }
}
#Na #links li > a, #Na #links li > span {
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  text-align: left;
  line-height: 82px;
  color: #333;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#Na #links li a {
  color: #424652;
}
#Na #links li .btnwrap {
  margin: 44px 0;
}
#Na #links li .big.btn {
  line-height: 18px !important;
}
#Na #links li .tp {
  background: transparent;
  position: absolute;
  border: none;
  box-shadow: none;
}
#Na #links li .btn {
  display: inline;
  color: #424652;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
}
#Na #links li .btn:before {
  opacity: 0;
}
#Na #links li path.alt {
  fill: white;
}
#Na #links li .arrow svg {
  top: 3px;
}
@media (max-width: 768px) {
  #Na .dropdown.active {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  #Na.A #logo, #Na.active #logo {
    line-height: 60px;
    top: 16px;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    z-index: 9;
  }
}
@media (max-width: 768px) {
  #Na.A span,
  #Na.A a,
  #Na.A h6, #Na.active span,
  #Na.active a,
  #Na.active h6 {
    font-size: 22px !important;
    line-height: 48px !important;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  #Na.A #infTogS,
  #Na.A #prfTogU,
  #Na.A #notBtnT, #Na.active #infTogS,
  #Na.active #prfTogU,
  #Na.active #notBtnT {
    visibility: hidden;
  }
}
#Na.A .dropdown, #Na.active .dropdown {
  background: transparent;
}
@media (max-width: 768px) {
  #Na.A .dropdown, #Na.active .dropdown {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #Na.A .dropdown a, #Na.A .dropdown span, #Na.active .dropdown a, #Na.active .dropdown span {
    padding-left: 16px;
  }
}
@media (max-width: 768px) {
  #Na.A .dropdown li a span, #Na.active .dropdown li a span {
    font-size: 22px !important;
    line-height: 48px !important;
  }
}
@media (max-width: 768px) {
  #Na.A .dropdown svg, #Na.active .dropdown svg {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  #Na.A #dropi, #Na.active #dropi {
    z-index: 2147482977;
    position: absolute;
    top: 0;
    padding: 0 !important;
    transform: translate(0, 120px);
  }
}
@media (max-width: 768px) {
  #Na.A #dropc, #Na.active #dropc {
    transform: translate(0, 246px);
    padding: 0 !important;
  }
}
@media (max-width: 768px) {
  #Na.A #dropp, #Na.active #dropp {
    margin: 0;
    padding: 0 !important;
    transform: translate(0, 405px);
  }
}
@media (max-width: 768px) {
  #Na.A #dropn, #Na.active #dropn {
    position: absolute;
    top: 0;
    transform: translate(0, 0);
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
#Na.A .email,
#Na.A hr, #Na.active .email,
#Na.active hr {
  display: none;
}

#La {
  width: 100%;
  position: relative;
}

#Tb {
  color: #414552;
}

#Pb {
  color: #5983FC;
}

@media (max-width: 768px) {
  #Ja {
    width: calc(100% - 32px);
    height: 600px;
    position: absolute;
    box-sizing: border-box;
    left: 16px;
    top: 16px;
    border-radius: 8px;
    display: block;
    visibility: hidden;
    box-shadow: 0px 8px 25px -1px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
  }
}
@media (max-width: 768px) {
  #Ja {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #Ja > button {
    padding: 0;
    margin: 0;
    height: 0;
  }
}
@media (min-width: 769px) {
  #Ja > button:not(:first-child) {
    margin-left: 18px;
  }
}

@media (min-width: 769px) {
  #Da {
    left: 0;
    transform: translateY(40px);
  }
}

.A,
.active {
  /*
  #ratePgs li {
    @media (max-width: $tablet-max) {
      padding-left: 16px;
      line-height: 80px;
    }
  }*/
}
.A #Bc,
.active #Bc {
  z-index: 999999999999;
  right: 16px;
  background: transparent;
  backdrop-filter: none;
}
.A #Bc:before, .A #Bc:after,
.active #Bc:before,
.active #Bc:after {
  width: 18px;
  height: 2px;
  background: black;
}
.A #Bc:before,
.active #Bc:before {
  transform: rotate(45deg);
  top: 24px;
}
.A #Bc:after,
.active #Bc:after {
  transform: rotate(-45deg);
  bottom: 24px;
}
.A #Ja,
.active #Ja {
  visibility: visible;
}
@media (max-width: 768px) {
  .A .spaced-list > li > a,
  .active .spaced-list > li > a {
    line-height: 60px !important;
  }
}
@media (max-width: 768px) {
  .A #links,
  .active #links {
    margin-top: 120px;
  }
}
.A #Da,
.active #Da {
  /*
  @media (min-width: $tablet-max) {
    width: 120px;
  }*/
}
@media (max-width: 768px) {
  .A #Da,
  .active #Da {
    width: 100%;
    padding: 0 !important;
    top: 16px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 99999999999999;
    background: transparent;
    left: 0;
    position: absolute;
    transform: translate(0, 24px);
  }
}
.A #Da h6,
.active #Da h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.A #Da p,
.active #Da p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

#links {
  width: 100%;
}
@media (max-width: 768px) {
  #links {
    flex-direction: column;
  }
}
#links > ul {
  margin: 0;
  padding-left: 20px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  #links > ul {
    padding-left: 16px;
  }
}

.spaced-list {
  width: 100%;
  padding-right: 1em;
}
@media (max-width: 768px) {
  .spaced-list {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .spaced-list > *:not(:first-child) {
    margin-top: 24px;
  }
}
@media (min-width: 769px) {
  .spaced-list > *:not(:first-child) {
    margin-left: 24px;
  }
}

#Bc {
  width: 60px;
  height: 50px;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  #Bc {
    opacity: 1;
  }
}
@media (min-width: 769px) {
  #Bc {
    opacity: 0;
    visibility: hidden;
  }
}
#Bc:before, #Bc:after {
  width: 22px;
  height: 2px;
  content: "";
  display: block;
  background: black;
  position: absolute;
  border-radius: 3px;
  left: 18px;
}
#Bc:before {
  top: 18px;
}
#Bc:after {
  bottom: 18px;
}

#Pd {
  top: 0;
  width: 120px;
  padding-left: 40px;
  line-height: 12px;
  margin: 0;
  padding: 0 20px 0 35px;
  height: auto;
  font-weight: 600;
}
@media (min-width: 769px) {
  #Pd {
    display: block;
  }
}
@media (max-width: 768px) {
  #Pd {
    display: none;
  }
}
#Pd:before, #Pd:after {
  background: #5984FF;
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5px;
}
#Pd:before {
  width: 11px;
  height: 2px;
  transform: translate(-13.5px, 4.5px);
}
#Pd:after {
  width: 2px;
  height: 11px;
  transform: translate(-9px, -12px);
}

.notifItem {
  width: 180px;
  height: 40px;
  position: relative;
}
.notifItem > a {
  text-transform: none;
  text-align: left;
  line-height: 20px;
  display: flex;
  position: relative;
}
.notifItem > a > span {
  font-size: 10px !important;
  line-height: 14px !important;
  display: block;
  margin: 7px 0 0px 42px !important;
}
.notifItem img {
  width: 32px;
  height: 32px;
  border-radius: 1px;
  margin: 4px 0;
  position: absolute;
}
.notifItem .delete-elem:before,
.notifItem .delete-elem:after {
  content: "";
  position: absolute;
  right: 14px;
  top: 20px;
  height: 1px;
  width: 9px;
  border-radius: 4px;
  background: #555;
}
.notifItem .delete-elem:before {
  transform: rotate(-45deg);
}
.notifItem .delete-elem:after {
  transform: rotate(45deg);
}

.dropdown {
  z-index: 999;
  top: 80px;
  margin: 0;
  background: #fff;
  border-radius: 8px;
  padding: 9px 0 9px 0 !important;
  position: absolute;
  visibility: hidden;
  top: 29px;
  opacity: 0;
  transform: translate(2.25px, 30px);
}
@media (min-width: 769px) {
  .dropdown {
    transition: 0.2s ease all;
    right: -21px;
    width: 136px;
    box-shadow: 1px 3px 14px -4px rgba(0, 2, 4, 0.14);
  }
}
@media (max-width: 768px) {
  .dropdown {
    left: 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
.dropdown .dropHd {
  opacity: 1;
  color: black;
  text-align: left;
  font-size: 13px;
  color: black;
  text-align: left;
  margin: 0;
  display: block;
  margin-left: 13px;
  font-weight: 600;
}
.dropdown.A, .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.dropdown .email, .dropdown .signout {
  box-sizing: border-box;
  text-align: left;
  color: black;
}
@media (min-width: 769px) {
  .dropdown .email, .dropdown .signout {
    padding: 0 4px 0 13px !important;
  }
}
.dropdown .email {
  font-size: 12px;
  margin: 0;
}
.dropdown > ul {
  margin: 0;
  padding: 0;
}
.dropdown li {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style: none;
}
.dropdown li a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 2px 13px;
}
.dropdown li a, .dropdown li span {
  line-height: 24px;
  font-size: 11px;
  color: #424652;
}
.dropdown hr {
  border: none;
  outline: none;
  height: 1px;
  display: block;
  width: 100%;
  background: rgba(0, 20, 30, 0.08);
}
.dropdown svg {
  position: absolute;
  top: -8px;
  right: 24px;
}
@media (max-width: 768px) {
  .dropdown svg {
    display: none;
  }
}

#dea,
#dfa {
  right: -20px;
  transform: translate(0, 40px);
}

#dea {
  width: 270px;
}

.selrang {
  opacity: 1;
  visibility: visible;
  width: 250px;
}

/*position: absolute; visibility: hidden;*/
#Pa,
#Ta,
#taskID,
#ZZ,
#Ra,
#Aa,
#Ya,
#Up,
#Xa {
  width: 100%;
  height: 0;
  visibility: hidden;
  position: absolute;
}

#Ya {
  background: white;
}

#Ga.hideall > * {
  display: none;
}
#Ga > #Pa, #Ga > #Ta, #Ga > #taskID, #Ga > #admin {
  margin-top: 82px;
}
#Ga.showPaired #Xa {
  display: block;
  height: auto;
  visibility: visible;
  opacity: 1;
}
#Ga.showPremium #Aa {
  display: block;
  height: auto;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 768px) {
  #Ga.showRate {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
}
#Ga.showRate #Ra {
  height: auto;
  visibility: visible;
}
#Ga.showRate #Bc {
  border: 1px solid rgba(0, 0, 0, 0);
}
#Ga.showRate #Bc:before, #Ga.showRate #Bc:after {
  background: white !important;
}
#Ga.showRate .active #Bc {
  width: 50px;
  height: 50px;
}
#Ga.showRate .active #Bc:before, #Ga.showRate .active #Bc:after {
  background: rgb(0, 0, 0) !important;
  left: 15px;
}
#Ga.showRate .active #Bc:before {
  top: 23px;
}
#Ga.showRate .active #Bc:after {
  bottom: 23px;
}
#Ga.showImg {
  overflow-y: hidden !important;
}
#Ga.showImg #Ia {
  display: flex;
  opacity: 1;
  visibility: visible;
}
#Ga.showImg #ZZ {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  display: block;
}
#Ga.showUpl #ZZ {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  display: block;
}
#Ga.showS #Ta, #Ga.showTasks #Ta {
  height: auto;
  visibility: visible;
}
#Ga.showS #tIdNav,
#Ga.showS #TMta, #Ga.showTasks #tIdNav,
#Ga.showTasks #TMta {
  display: none;
}
#Ga.showS .wrapsort, #Ga.showTasks .wrapsort {
  width: 100%;
}
#Ga.showTaskID #Fa {
  display: none;
}
#Ga.showTaskID #tflta {
  visibility: hidden;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
#Ga.showTaskID #Ta {
  height: auto;
  visibility: visible;
}
#Ga.showProfile #Pa {
  height: auto;
  visibility: visible;
}
#Ga.showProfile #Pa .profilePage.A {
  visibility: visible;
}
#Ga.edit #EPa {
  height: auto;
  visibility: visible;
}
#Ga.sec #SCa {
  height: auto;
  visibility: visible;
}
#Ga.alr #Alr {
  height: auto;
  visibility: visible;
}
#Ga.bil #Bil {
  height: auto;
  visibility: visible;
}
#Ga.hlp #Hlp {
  height: auto;
  visibility: visible;
}
#Ga.showSignup #Na, #Ga.showLogin #Na {
  opacity: 0;
  z-index: 1;
  visibility: visible;
  transform: translate(0, -82px);
}
#Ga.showSignup #Ya, #Ga.showLogin #Ya {
  display: block;
  visibility: visible;
  opacity: 1;
  height: 100vh;
}
#Ga.showSignup #loginTitle {
  display: none;
}
#Ga.showSignup #loginpanel {
  margin-left: 250px;
}
#Ga.showLogin #signupTitle {
  display: none;
}
#Ga.showNotifications #Xa {
  height: auto;
  visibility: visible;
}
#sortDropdown {
  min-width: 190px;
  box-sizing: border-box;
  line-height: 32px;
  font-size: 14px;
}

#bblDropdown {
  width: 140px !important;
  min-width: 0;
  box-sizing: border-box;
  transform: translate(90px, 10px);
  right: 0;
}
#bblDropdown li {
  line-height: 32px;
  font-size: 14px;
}

.wrapsort {
  position: relative;
  display: flex;
  line-height: 32px;
  font-size: 14px;
}

/*
.sortby {
  padding-right: 1em;
  line-height: 70px;
}*/
.selClick {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 8px 5px 16px;
  line-height: 50px;
  cursor: pointer;
  background: white;
  line-height: 20px;
  margin: 22px 0;
  display: block;
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.filtered li {
  display: flex;
}

.dropdownSelector {
  width: 160px;
  position: relative;
  z-index: 99999;
}
.dropdownSelector.short {
  width: 112px;
}
.dropdownSelector.long {
  width: calc(20% - 8px);
}
.dropdownSelector svg {
  width: 12px;
  height: 24px;
  position: absolute;
  top: 27px;
  right: 15px;
}
.dropdownSelector svg rect,
.dropdownSelector svg path {
  fill: #3d3d4e;
}

.dropsort {
  min-width: 180px;
  right: 0;
  position: absolute;
  padding: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 999;
  background: white;
  margin: 0;
  top: 54px;
  cursor: pointer;
  box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, 0.1);
  border-radius: 24px;
  padding: 14px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
  transform: translate(8px, 20px);
}
.dropsort > li {
  padding: 2px 8px 2px 15px;
  transition: 0.4s ease all;
  border-radius: 12px;
}
.dropsort > li:hover {
  background: rgba(242, 242, 244, 0.4);
}
.dropsort > li.active {
  background: rgba(230, 232, 233, 0.4);
}
.dropsort.A, .dropsort.show {
  visibility: visible;
  opacity: 1;
}
.dropsort.A + .caret, .dropsort.show + .caret {
  transform: rotate(180deg);
}

.caret {
  transition: 0.2s ease all;
}

input:checked + .dropsort {
  display: block;
}

#Ia {
  border-radius: 12px;
  width: calc(100% - 16px);
  max-width: 940px;
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  overflow: hidden;
  visibility: hidden;
  background: white;
  position: fixed;
  z-index: 199999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#Ia img {
  width: 100%;
}
#indvNava {
  padding: 1em 0 2em;
  margin: 0;
}

.scoSc {
  width: 128px;
  position: relative;
  background: none;
  width: 100%;
  height: 25px;
  padding: 8px 0 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.scoSc .E {
  display: block;
  font-size: 14px;
  margin-bottom: 0;
}
.scoSc .TR {
  font-size: 11px;
}

.rScore .score-bar {
  margin-top: auto;
  width: calc(100% - 120px);
  height: 8px;
  border-radius: 5px;
  background: rgba(51, 54, 56, 0.04);
  position: absolute;
  left: 120px;
}
.rScore .score-tag {
  width: calc(100% - 120px);
  height: 8px;
  border-radius: 5px;
  background: rgb(0, 200, 255);
  position: absolute;
  left: 120px;
}
.rScore .E,
.rScore .TR {
  line-height: 24px;
}
.rScore .TR {
  margin-left: 6px;
}
.rScore .tag-name {
  margin-top: auto;
  position: absolute;
  top: 0;
  display: flex;
}
.rScore .dist-elem {
  width: auto;
  margin-top: auto;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: block;
}

.meterEm {
  height: 4px;
  border-radius: 4px;
}

#B0a {
  background: rgb(200, 250, 255);
}

#B1a {
  background: rgb(100, 200, 255);
}

#B2a {
  background: rgb(50, 180, 230);
}

#B3a {
  background: rgb(25, 120, 220);
}

#B4a {
  background: rgb(10, 100, 200);
}

#bger {
  width: 50%;
  height: 100vh;
  background: linear-gradient(#4030ff, #8090ff);
  position: absolute;
  left: 0;
  top: 0;
}

#loginpanel {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
}

#Ya {
  text-align: center;
  display: flex;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  background: white;
}
#Ya label {
  display: block;
  text-align: left;
  opacity: 1;
  display: block;
  text-align: left;
  color: rgb(102, 106, 114);
  font-size: 12px;
}
#Ya .meta {
  line-height: 18px;
  font-size: 12px;
  color: rgb(125, 130, 156);
  margin-top: 1em;
  text-align: left;
}
#Ya .meta.red {
  display: none;
  color: #ff003f;
}

.PI {
  height: 400px;
  background: #f7f8f9;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  .PI {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .PI {
    width: calc(50% - 8px);
  }
}
.PI img {
  max-height: 400px;
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: auto;
}
@media (min-width: 769px) {
  .PI img {
    top: 50%;
    transform: translateY(-50%);
  }
}
.PI:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}
.PI > input {
  appearance: none;
  padding: 0;
  z-index: 999999;
}

#SBa {
  margin-top: 1em;
  left: 0;
}
@media (min-width: 769px) {
  #SBa {
    width: 200px;
    height: 100%;
    display: block;
  }
}
#SBa a {
  line-height: 40px;
}

#Pa input {
  width: 100%;
  box-sizing: border-box;
}
#PFa {
  width: calc(100% - 200px);
}

#EPa,
#SCa,
#Alr,
#Bil,
#Hlp {
  width: 100%;
  right: 0;
  position: absolute;
  visibility: hidden;
}

input[type=checkbox] {
  box-shadow: none;
}

#sbu,
#nvz {
  width: 100%;
}
#sbu a,
#nvz a {
  color: #424652;
  font-weight: 400;
}

.profilePage {
  visibility: hidden;
}

.profilePage > h2 {
  margin-bottom: 1em;
}

.profilePage > div {
  margin-bottom: 3em;
}

#pHbt {
  width: 440px;
}

#pGda {
  width: 220px;
}

.pilWr {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 2em;
  position: relative;
  box-shadow: inset 1px 0px 6px -1px rgba(0, 0, 0, 0.1);
}

.pilBg {
  width: 110px;
  height: 100%;
  border-radius: 2em;
  background: white;
  display: block;
  position: absolute;
  box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.1);
}

.pilIt {
  width: 110px;
  background: transparent;
  border-radius: 2em;
  padding: 8px 1em;
  text-align: center;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

.editSvg {
  position: absolute;
  top: 10px;
  left: 260px;
  width: 12px;
  height: 12px;
}

.toggleNotif {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1em 0 1em;
}
.toggleNotif h5 {
  padding: 0;
  margin: 0;
}
.toggleNotif p {
  margin: 0;
}

#lndr {
  width: 128px;
}

#BMa {
  width: 20px;
  border-radius: 0;
  border: none;
}

#BDa {
  width: 20px;
  border-radius: 0;
  border: none;
}

#BYa {
  width: 34px;
  border-radius: 0;
  border: none;
}

#RDa {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #RDa:after {
    content: "";
    height: 120px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 768px) {
  #RDa {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.5em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #RDa {
    width: 61.8%;
    padding-left: 25px;
  }
}
@media (min-width: 1025px) {
  #RDa {
    width: 522px;
    padding-left: 35px;
  }
}
#RDa .fwHeavy {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 8px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#RDa textarea {
  width: 100%;
}
#RDa.tagsLevel {
  transition: 0.5s ease all;
}
@media (max-width: 768px) {
  #RDa.tagsLevel {
    transform: translateY(-140px);
  }
}
#RDa.notesLevel {
  transition: 0.5s ease all;
}
@media (max-width: 768px) {
  #RDa.notesLevel {
    transform: translateY(-260px);
  }
}

#RIa {
  width: 100%;
  background: #f7f8f9;
  z-index: 9999;
  overflow: hidden;
  position: relative;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #RIa {
    width: 38.2%;
  }
}
@media (min-width: 1025px) {
  #RIa {
    width: calc(100% - 522px);
  }
}
@media (min-width: 769px) {
  #RIa {
    border-radius: 9px;
  }
}
#RIa img {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: auto;
}
@media (max-width: 768px) {
  #RIa img {
    max-height: 600px;
  }
}
@media (min-width: 769px) {
  #RIa img {
    max-height: 520px;
    top: 50%;
    transform: translateY(-50%);
  }
}

#RBa {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 120%;
  left: -10%;
  top: -10%;
  height: 120%;
  filter: blur(20px);
}

@media (min-width: 769px) {
  #Xa, #Ra {
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
  }
}

@media (max-width: 768px) {
  #RSa {
    display: block;
  }
}
@media (min-width: 769px) {
  #RSa {
    /*
    background: white;
    padding: 1em;
    border-radius: 20px;*/
    display: flex;
    justify-content: space-between;
  }
}

.TR {
  line-height: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media (max-width: 768px) {
  .TR {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .TR {
    font-size: 12px;
  }
}

/*
.data-grid {
  grid-template-columns:  1fr 1fr;
  grid-template-rows:     1fr 1fr;
}
*/
#TLS {
  padding-top: 3em;
  padding-bottom: 4em;
}
@media (min-width: 1025px) {
  #TLS {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #TLS {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  #TLS {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
#TLS time {
  font-size: 12px;
  line-height: 38px;
  margin-top: 0;
  color: #878c8f;
  margin-left: 16px;
  font-weight: 400;
}
#TLS h6 {
  line-height: 38px;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
#TLS span {
  font-weight: 400;
}
#TLS img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0;
}
#TLS .imgWrp {
  width: 100%;
  display: grid;
  row-gap: 4px;
  column-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

#TMta {
  margin: 3em 0;
}

.taskItem {
  border-radius: 8px;
  overflow: hidden;
}
.taskItem .dtpt {
  margin-left: auto;
}

.imgData {
  bottom: 0;
  padding: 0 24px 24px;
  padding-top: 84px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.35) 64%, rgba(0, 0, 0, 0));
}
.imgData span {
  color: white;
}

.partNav a {
  line-height: 42px;
  font-size: 14px;
  color: #0d0c22;
  padding: 16px 12px;
}
.partNav a:hover {
  color: #9296a2;
}
.partNav .active {
  border-bottom: 1px solid blue;
}
.partNav .active:hover {
  color: #0d0c22;
}

#tflta {
  display: grid;
  column-gap: 8px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 1em;
}
#tflta > button {
  border: 1px solid rgb(235, 238, 241);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1em 1em 1em;
  text-align: left;
}
#tflta > button h4 {
  margin: 8px 0 0;
}

#fillImg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  height: 290px;
  background: url(img/laurie.jpg) 0% 18%/cover;
  margin-bottom: 4px;
  border-radius: 6px 6px 0px 0px;
}

#taskLs {
  padding: 7em 0;
}

#Fa {
  line-height: 76px;
  margin: 0;
}

#RQ {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(104, 115, 133);
}

.ST {
  font-weight: 400;
  color: rgb(104, 115, 133);
}

#tImgRt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.data-score {
  font-size: 13px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
  margin-right: 16px;
}

.ascore {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
  margin-right: 16px;
  font-size: 26px;
  font-weight: 300;
}

.acomm {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.dtpt {
  background: transparent;
  font-size: 11px;
  line-height: 38px;
  position: relative;
  margin: 0;
  color: #878c8f;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

/*

for gearagora

.structure {
  position: relative;
  width: 20px;
  margin-left: 12px;
  padding: 0;

  svg {
    width: 20px;
    height: 24px;
    margin-right: 0;
    display: block;
  }

  rect {
    fill: #9a9b9f;
  }

  .radio {
    width: 20px;
    height: 32px;
    position: absolute;
    left: 0;
    border:none;
    background: transparent;
    transform: translateY(-5px);
    cursor: pointer;
    top: 7px;
    border-radius: 0;
    padding: 0;
  }

  .radio:checked {
    border-bottom: 1px solid #5984ff;
  }

  .radio:checked+svg rect {
    fill:#5984ff;
  }
}*/
#uploader {
  padding: 2em 3em;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.1);
  padding: 56px 42px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: white;
  display: none;
}

#uplList {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  padding: 4em 0;
  box-sizing: border-box;
  border: 4px solid rgb(56, 128, 255);
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
