$phone-max:         400px;
$phone-min:         401px;
$phone-wide-max:    480px;
$phone-wide-min:    481px;
$phablet-max:       560px;
$phablet-min:       561px;
$tablet-small-max:  640px;
$tablet-small-min:  641px;
$tablet-max:        768px;
$tablet-min:        769px;
$tablet-wide-max:   1024px;
$tablet-wide-min:   1025px;
$desktop-max:       1248px;
$desktop-min:       1249px;
$desktop-wide-max:  1440px;
$desktop-wide-min:  1441px;

$rating-break-max:  $tablet-max;
$rating-break-min:  $tablet-min;

$title-font-size:   22px;
$tagline-font-size: 14px;

$base-color:        #424652;
$base-font:         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$selector-s-width: 	112px;
$selector-width: 	160px;
$selector-l-width: 	180px;
$dropdown-width: 	190px;

$nav-bars-color: 	rgba(0,0,0,1);
$active-bg: 		rgba(230,232,233,0.4);
$hover-bg: 			rgba(242,242,244,0.4);

$matte-color-0:     #293556;
$matte-color-1:     #2E4583;
$matte-color-2:     #3E60C1;
$matte-color-3:     #5983FC;

$amphib-color-0:    #3E54D3;
$amphib-color-1:    #4F80E2;
$amphib-color-2:    #15CDCA;
$amphib-color-3:    #4FE0B6;

$pinkla-color-0:    #7827E6;
$pinkla-color-1:    #8D39EC;
$pinkla-color-2:    #AA4FF6;
$pinkla-color-3:    #EA80FC;

$scales-color-0:    #7339AB;
$scales-color-1:    #625AD8;
$scales-color-2:    #1F9CE4;
$scales-color-3:    #88F4FF;


/*
$scheme-color-0:    $scales-color-0;
$scheme-color-1:    $scales-color-1;
$scheme-color-2:    $scales-color-2;
$scheme-color-3:    $scales-color-3;
*/


$scheme-color-0:    $amphib-color-0;
$scheme-color-1:    $amphib-color-1;
$scheme-color-2:    $amphib-color-2;
$scheme-color-3:    $amphib-color-3;


$scheme-color-0:    $matte-color-0;
$scheme-color-1:    $matte-color-1;
$scheme-color-2:    $matte-color-2;
$scheme-color-3:    $matte-color-3;


