.ImW {
  width:           100%;
  background:      #f7f8f9;
  z-index:         9999;
  overflow:        hidden;
  position:        relative;
  height:          400px;

  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width:         38.2%;
  }
   
  @media (min-width: $tablet-wide-min) {
    width:         calc(100% - 522px);
  }

  @media (min-width: $tablet-min) {
    border-radius: 9px;
  }

  img {
    position:      relative;
    max-width:     100%;
    display:       block;
    margin:        0 auto;
    width:         auto;
    height:        100%;

    @media (max-width: $tablet-max) {
      max-height:  600px;
    }

    @media (min-width: $tablet-min) {
      //max-height:  520px;
      top:         50%;
      transform:   translateY(-50%);
    }
  }
}

.ImU {
  width:           100%;
  background:      #f7f8f9;
  z-index:         9999;
  overflow:        hidden;
  position:        relative;
  height: calc(100% - 200px);
  img {
    position:      relative;
    max-width:     100%;
    display:       block;
    margin:        0 auto;
    width:         auto;
    height:        100%;

    @media (max-width: $tablet-max) {
      max-height:  600px;
    }

    @media (min-width: $tablet-min) {
      top:         50%;
      transform:   translateY(-50%);
    }
  }
}

.RUa {
  width:           100%;
  box-sizing:      border-box;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    padding-left:    32px;
    padding-right:   32px;
    padding-top:   0;
    position: absolute;
    bottom: 0;
  }
   
  @media (min-width: $tablet-min) {
    top: 50%;
    position: absolute;
    right: 48px;
    transform: translateY(-50%);
    padding: 0;
  }

  @media (min-width: $tablet-wide-min) {
    width: calc(50% - 96px);
  }
  
  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width: calc(61.8% - 96px);
  }

}


#IIg {
  width: 50%;
  @media (max-width: $tablet-max) {
    width:         100%;

  }

  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width:         38.2%;
  }
   
  @media (min-width: $tablet-wide-min) {
    width:         calc(50%);
  }

  @media (min-width: $tablet-min) {
    height:        100vh;
  }
}


#Ia {
  width:           100%;
  height:          100vh;
  visibility:      hidden;
  background:      white;
  opacity:         0;
  img {
  }
  &.score {
    #taga,
    #commenta {
      //height: 0;
      //visibility: hidden;
    }
  }

  #tagaa .BZ {
    @media (min-width: $tablet-min) {
      padding-left:  3px;
    }

  }

  .btn-ct {
    background: blue;
    padding: 2px 4px;
    border-radius: 2px;
    background: #40ef80;   
    color: white;   
  }
}



.OV #Ia {
  border-radius:   12px;
  width:           calc(100% - 16px);
  max-width:       940px;
  z-index:         199999999;
  position:        fixed;
  top:             50%;
  left:            50%;
  transform:       translate(-50%, -50%);
  box-shadow:      0 0 20px -1px rgba(0,0,0,0.2);
  overflow:        hidden;
  margin-bottom:   2em;

}



.BZ {
  top:             0;
  transform:       translateY(0px);
  background:      rgba(51,54,56,0.04);
  border-radius:   4px;
  position:        relative;
  margin:          4px 3px;
  color:           #878c8f;
  cursor:          pointer;
  white-space:     nowrap;
  margin-left:     0;
  font-family:     $base-font;

  @media (max-width: $tablet-max) {
    padding:       6px 9px 6px 9px;
    font-size:     15px;
    line-height:   2.4;
  }

  @media (min-width: $tablet-min) {
    padding:       4px 6px 4px 5px;
    font-size:     11px;
  }

  &.A,
  &.active,
  &:hover {
    transition:    0.2s ease-in-out all;
    color:         $scheme-color-2;
    background:    rgba($scheme-color-3, 0.1);
  }
}


#indvNava {
  padding: 1em 0 2em;
  margin: 0;
}
.scoSc {
  width: 128px;
  position: relative;
  background: none;
  width: 100%;
  height: 25px;
  padding: 8px 0 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);

  .E {
    display:       block;
    font-size:     14px;
    margin-bottom: 0;
  }

  .TR {
    font-size: 11px;
  }

}

.rScore {
  .score-bar {
    margin-top:  auto;
    width:        calc(100% - 70px);
    height:      8px;
    border-radius: 5px;
    background:  rgba(51,54,56,0.04);
    position:    absolute;
    left: 70px;

  }
  
  .score-tag {
    width: calc(100% - 70px);
    height: 8px;
    border-radius: 5px;
    background: rgb(0, 200, 255);
    position: absolute;
    left: 70px;
  }

  .E,
  .TR {
    line-height: 24px;
  }

  .TR {
    width: 20px;
    margin-left: 6px;
    background: blue;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    text-align: center;
  }

  .tag-name {
    margin-top:  auto;
    position:    absolute;
    top:         0;
    display:     flex;
  }
  

  .dist-elem {
    width:       auto;
    margin-top:  auto;
    position:    absolute;
    font-family: $base-font;
    text-align:  center;
    display:     block;
  }
}

#meterB {

}

.meterEm {
  height:4px;
  border-radius: 4px;
}


#B0a {
  background: rgba(200,250,255,1);
}
#B1a {
  background: rgba(100,200,255,1);
}
#B2a {
  background: rgba(50,180,230,1);
}
#B3a {
  background: rgba(25,120,220,1);
}
#B4a {
  background: rgba(10,100,200,1);
}
