#bger {
  width:         50%;
  height:        100vh;
  background:    linear-gradient(#4030ff, #8090ff);
  position:      absolute;
  left:          0;
  top:           0;

}

#loginpanel {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
  h1 {
    text-align: left;
    margin-bottom: 1em;
  }
}

#Ya {
  text-align:    center;
  display:       flex;
  width:         100vw;
  opacity:       0;
  visibility:    hidden;
  background: white;

  .PrPa,
  label,
  .meta {
    display:     block;
    text-align:  left;
    opacity:     1;
    display:     block;
    text-align:  left;
    color:       rgb(102, 106, 114);
    font-size:   12px;
    line-height: 18px;
    font-size:   12px;
    color:       rgb(125, 130, 156);
    margin-top:  1em;
    text-align:  left;
  }

  .meta.red {
    display:     none;
    color:       #ff003f;
  }
}