#sbar {
	@media (min-width: $tablet-min) {
		width: 200px;
		height: 100%;
		display: block;
	}
}

#pnl {
	width: calc(100% - 200px);
}

#sbu,
#nvz {
	width: 100%;
	a {
		color: #424652;
		font-weight: 400;
	}
}

#nvs_,
#nvn_,
#nvp_ {
	color: #424652;
}

#nvS_,
#nvN_ {
	margin-left: 10px;
}