$rater-height-mobile: 280px;
$rater-height-desktop: 500px;

#Ra {
  &:after {
    @media (max-width: $tablet-max) {
      content:       "";
      height:        120px;
      width:         100%;
      background:    linear-gradient(rgba(0, 0, 0, 0.0),rgba(0,0,0,0.2));
      position:      absolute;
      display:       block;
      bottom:        0;
      left:          0;
    }
  }
}

#RDa {
  width:           100%;
  box-sizing:      border-box;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    height:          $rater-height-mobile;
    padding-left:    32px;
    padding-right:   32px;
    padding-top:   0;
    position: absolute;
    bottom: 0;
  }
   
  @media (min-width: $tablet-min) {
    height:         $rater-height-desktop;
    top: 50%;
    position: absolute;
    right: 48px;
    transform: translateY(-50%);
    padding: 0;
  }

  @media (min-width: $tablet-wide-min) {
    width: calc(50% - 96px);
  }
  
  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width: calc(61.8% - 96px);
  }

  &.one {
    transform: translateY(-150px);
  }
   
  .fwHeavy {
    margin-top:    40px;
    font-weight:   600;
    font-size:     17px;
    margin-bottom: 0px;
    display:       block;
    font-family:   $base-font
  }
  
  textarea {
    width: 100%;
    margin-bottom: 1em;
  }

  &.tagsLevel {
    @media (max-width: $tablet-max) {
      transform: translateY(-140px);
    }
    transition: 0.5s ease all;
  }

  &.notesLevel {
    @media (max-width: $tablet-max) {
      transform: translateY(-260px);
    }
    transition: 0.5s ease all;
  }
}

.X #RDa {
  @media (min-width: $tablet-min) {
    transform: translateY(-20%);
    transition: 0.2s ease-in transform;
  }
}

.RIa {
  z-index:         9999;
  overflow:        hidden;
  position:        relative;


  @media (max-width: $tablet-max) {
    width:         100%;
    height:          calc(100vh - $rater-height-mobile);

  }

  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width:         38.2%;
  }
   
  @media (min-width: $tablet-wide-min) {
    width:         calc(50%);
  }

  @media (min-width: $tablet-min) {
    height:        100vh;
  }

  img {
    position:      relative;
    max-width:     100%;
    height:        auto;
    display:       block;
    margin:        0 auto;
    width:         100%;
    max-height:    100vh;
    object-fit:    contain;

    @media (max-width: $tablet-max) {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 280px);
    object-fit: contain;
    }

    @media (min-width: $tablet-min) {
      top:         50%;
      transform:   translateY(-50%);
    }
  }
}



#RBa {
  background-size:     cover;
  background-position: center;
  position:            absolute;
  width:               120%;
  left:                -10%;
  top:                 -10%;
  height:              120%;
  filter:              blur(20px);
}

#Xa {
  @media (min-width: $tablet-min) {
    top:           50%;
    transform:     translateY(-50%);
    margin-top:    -30px;
  }
}

#RSa {
  @media (max-width: $tablet-max) {
    display:     block;
  }
   
  @media (min-width: $tablet-min) {
    /*
    background: white;
    padding: 1em;
    border-radius: 20px;*/

    display:     flex;
    justify-content: space-between;
  }
}

.wrap-tag {
}

.TR {
  line-height:   24px;
  font-weight:   500;
  color:         rgba(0,0,0,0.8);
  font-family:   $base-font;

  @media (max-width: $tablet-max) {
    font-size:   14px;
  }

  @media (min-width: $tablet-min) {
    font-size:   12px;
  }
}
#Ca {
  margin-top: 4px;
}
#Ca,
#Ua,
#CMa {
}


/*
.data-grid {
  grid-template-columns:  1fr 1fr;
  grid-template-rows:     1fr 1fr;
}
*/