#RDa {
  width:           100%;
  box-sizing:      border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:after {
    @media (max-width: $tablet-max) {
      content:       "";
      height:        120px;
      width:         100%;
      background:    linear-gradient(rgba(0, 0, 0, 0.0),rgba(0,0,0,0.2));
      position:      absolute;
      display:       block;
      bottom:        0;
      left:          0;
    }
  }

  @media (max-width: $tablet-max) {
    padding-left:  1em;
    padding-right: 1em;
    padding-top: 1.5em;
  }
   
  @media (min-width: $tablet-min) {
    height: 500px;
    top: 50%;
    position: absolute;
    right: 3em;
    transform: translateY(-50%);
    padding: 0;
  }


  @media (min-width: $tablet-wide-min) {
    width: calc(50% - 6em);
  }
  
  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width: calc(61.8% - 6em);
  }
   
  .fwHeavy {
    font-weight:   600;
    font-size:     17px;
    margin-bottom: 0px;
    display:       block;
    font-family:   $base-font
  }
  
  textarea {
    width: 100%;
  }

  &.tagsLevel {
    @media (max-width: $tablet-max) {
      transform: translateY(-140px);
    }
    transition: 0.5s ease all;
  }

  &.notesLevel {
    @media (max-width: $tablet-max) {
      transform: translateY(-260px);
    }
    transition: 0.5s ease all;
  }
}

.X #RDa {
  @media (min-width: $tablet-min) {
    transform: translateY(-20%);
    transition: 0.2s ease-in transform;
  }
}

#RIa {
  background:      #f7f8f9;
  z-index:         9999;
  overflow:        hidden;
  position:        relative;


  @media (max-width: $tablet-max) {
    width:         100%
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
    width:         38.2%;
  }
   
  @media (min-width: $tablet-wide-min) {
    width:         calc(50%);
  }

  @media (min-width: $tablet-min) {
    height:        100vh;
  }

  img {
    position:      relative;
    max-width:     100%;
    height:        auto;
    display:       block;
    margin:        0 auto;
    width:         100%;
    max-height:    100vh;
    object-fit:    contain;

    @media (max-width: $tablet-max) {
    }

    @media (min-width: $tablet-min) {
      top:         50%;
      transform:   translateY(-50%);
    }
  }
}



#RBa {
  background-size:     cover;
  background-position: center;
  position:            absolute;
  width:               120%;
  left:                -10%;
  top:                 -10%;
  height:              120%;
  filter:              blur(20px);
}

#Xa {
  @media (min-width: $tablet-min) {
    top:           50%;
    transform:     translateY(-50%);
    margin-top:    -30px;
  }
}

#RSa {
  @media (max-width: $tablet-max) {
    display:     block;
  }
   
  @media (min-width: $tablet-min) {
    /*
    background: white;
    padding: 1em;
    border-radius: 20px;*/

    display:     flex;
    justify-content: space-between;
  }
}

.wrap-tag {
}

.TR {
  line-height:   24px;
  font-weight:   500;
  color:         rgba(0,0,0,0.8);
  font-family:   $base-font;

  @media (max-width: $tablet-max) {
    font-size:   14px;
  }

  @media (min-width: $tablet-min) {
    font-size:   12px;
  }
}
#Ca {
  margin-top: 4px;
}
#Ca,
#Ua,
#CMa {
  @media (min-width: $tablet-wide-min) {
    transform: translateY(-14px);
  }
}


/*
.data-grid {
  grid-template-columns:  1fr 1fr;
  grid-template-rows:     1fr 1fr;
}
*/