#rate-data {
  width:         100%;
  padding-left:  35px;

  @media (min-width: $md-begin) and (max-width: $lg-end) {
    width:       54.375%;
  }
   
  @media (min-width: $lg-begin) {
    width:       522px;
  }
}

#rate-img {
  width:         100%;
  background:    #f7f8f9;

  @media (min-width: $md-begin) and (max-width: $lg-end) {
    width:       45.625%;
  }
   
  @media (min-width: $lg-begin) {
    width:       calc(100% - 522px);
  }
}

#paired, #scorerater {
  top:           50%;
  position:      absolute;
  transform:     translateY(-50%);
  margin-top:    -60px;
}

.pair-img {
  width:         calc(50% - 8px);
  background:    #f7f8f9;
  border-radius: 4px;
  cursor:        pointer;
  position:      relative;

  &:hover {
    box-shadow:  0 0 0 1px rgba(0,0,0,0.0);
  }

  &>input {
    appearance:  none;
    padding:     0;
    z-index:     999999;
  }
}


#rate-sec img {
  position:     relative
  max-width:    100%
  top: 50%
  transform: translateY(-50%)
}



.txt-rate {
  text-align:   center;
  font-size:    10px !important;
  line-height:  24px;
  font-weight:  500;
  color:        rgba(0,0,0,0.8);
  font-family:  $btn-rate;
}

.data-grid {
  grid-template-columns:  1fr 1fr;
  grid-template-rows:     1fr 1fr;
}
