#tasklist {
  width: 100%;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  padding-top: 1em;
  padding-bottom: 2em;
  border-top: 1px solid rgba(0,0,0,0.05);

  time {
    font-size: 10px;
    line-height: 39px;
    color: #878c8f;
  }

  img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
  }

  .mtaWrap {
    width:100%;
    box-sizing: border-box;
    padding: 0 0 8px 0;
  }
}

#tasks {
  &.squared #squareX rect,
  &.slideshow #rectY rect,
  &.hlong #hotdogZ rect {
    fill: #5984ff;
  }

  &.squared #tasklist {
    @media (max-width: $tablet-max) {
      grid-template-columns:  1fr;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-wide-max) {
      grid-template-columns:  1fr 1fr;
    }
     
    @media (min-width: $tablet-wide-min) {
      grid-template-columns:  1fr 1fr 1fr;
    }

    .imgWrap {
      width: 100%;
      display: grid;
      row-gap: 8px;
      column-gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding-bottom: 8px;
    }
  }

  &.slideshow #tasklist {
    .imgWrap {
      display: block;
      width: 100%;
      padding-bottom: 8px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &.hlong #tasklist {
    display: block;
    .imgWrap {
      width:                  100%;
      display:                grid;
      row-gap:                16px;
      column-gap:             8px;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
      padding-bottom:         12px;
    }
  }
}

.data-score {
  font-size: 13px;
  font-weight: 500;
  font-family: $base-font;
  line-height: 32px;
  margin-right: 16px;
}

.structure {
  position: relative;
  width: 20px;
  margin-left: 12px;
  padding: 0;

  svg {
    width: 20px;
    height: 24px;
    margin-right: 0;
    display: block;
  }

  rect {
    fill: #9a9b9f;
  }

  .radio {
    width: 20px;
    height: 32px;
    position: absolute;
    left: 0;
    border:none;
    background: transparent;
    transform: translateY(-5px);
    cursor: pointer;
    top: 7px;
    border-radius: 0;
    padding: 0;
  }

  .radio:checked {
    border-bottom: 1px solid #5984ff;
  }

  .radio:checked+svg rect {
    fill:#5984ff;
  }
}
