#TLS {
  padding-top: 3em;
  padding-bottom: 4em;

  @media (min-width: $tablet-wide-min) {
    grid-template-columns:  1fr 1fr 1fr ;
    grid-gap: 36px;
  }

  @media (min-width: $tablet-max) and (max-width: $tablet-wide-max) {
    grid-template-columns:  1fr 1fr;
    grid-gap: 20px;
  }

  @media (max-width: $tablet-max) {
    grid-template-columns:  1fr;
    grid-gap: 12px;
  }

  time {
    font-size: 12px;
    line-height: 38px;
    margin-top: 0;
    color: #878c8f;
    margin-left: 16px;
    font-weight: 400;
  }

  h6 {
    line-height: 38px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  
  span {
    font-weight: 400;
  }
  
  img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
  }

  .imgWrp {
    width: 100%;
    display: grid;
    row-gap: 4px;
    column-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
  }
}

// task meta for task ID page
#TMta {
  margin: 3em 0;
  h2 {
    width: 100%;
    font-weight: 600;
    padding-bottom: 12px;
  }
}

.taskItem {
  border-radius: 8px;
  overflow: hidden;
  .dtpt {
    margin-left: auto;
  }
}

.imgData {
  bottom: 0;
  padding: 0 24px 24px;
  padding-top: 84px;
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.35) 64% , rgba(0,0,0,0.0));

  span {
    color: white;
  }
}

.partNav {
  a {
    line-height: 42px;
    font-size: 14px;
    color: #0d0c22;
    padding: 8px 12px;
    
    &:hover {
      color: #9296a2;
    }
  }
  .active {
    border-bottom: 1px solid blue;
    &:hover {
      color: #0d0c22;
    }
  }
}

#tflta {
  display: grid;
  column-gap: 8px;
  overflow: hidden;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  padding-top: 1em;

  &>button {
    border: 1px solid rgb(235,238,241);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1em 1em 1em;
    text-align: left;
    h4 {
      margin: 8px 0 0;
    }
  }
}


#fillImg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  display: block;


  height: 290px;
  background: url(img/laurie.jpg) 0% 18% / cover;
  margin-bottom: 4px;
  border-radius: 6px 6px 0px 0px;
}

#taskLs {
  padding: 7em 0
}


// h2 for Tasks
#Fa {
  line-height:76px;
  margin: 0
}

// rating or pairing type
#RQ,
#RQ2 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(104,115,133);
}

.ST {
  font-weight: 400;
  color: rgb(104,115,133);
}

#tImgRt {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.data-score {
  font-size: 13px;
  font-weight: 500;
  font-family: $base-font;
  line-height: 32px;
  margin-right: 16px;
}

.ascore {
  font-family: $base-font;
  line-height: 32px;
  margin-right: 16px;
  font-size: 26px;
  font-weight: 300;
}

.acomm {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}


.dtpt {
  background:      transparent;
  font-size:       11px;
  line-height:     38px;
  position:        relative;
  margin:          0;
  color:           #878c8f;
  cursor:          pointer;
  white-space:     nowrap;
  margin-left:     0;
  font-family:     $base-font;
  font-weight:     500;
}



.BR {
  background:      rgba(51,54,56,0.04);
  width:           calc(20% - 8px);
  padding:         7px 0 11px;
  border-radius:   5px;
  border:          2px solid rgba(0, 0, 0, 0.0);
  font-size:       11px;
  font-weight:     500;
  
  &::first-letter {
    display:       block;
    font-size:     22px;
    line-height:   32px;

  }

  &>.E {
    display:       block;
    font-size:     19px;
    margin-bottom: 0;
  }

  &:hover {
    border:        2px solid $scheme-color-2;
    box-shadow:    0 0 0 3px rgba($scheme-color-2, 0.4);
  }

  &.A,
  &.active {
    color:         #424652;
    border:        2px solid $scheme-color-2;
    box-shadow:    0 0 0 1px $scheme-color-2;
  }
}



/*

for gearagora

.structure {
  position: relative;
  width: 20px;
  margin-left: 12px;
  padding: 0;

  svg {
    width: 20px;
    height: 24px;
    margin-right: 0;
    display: block;
  }

  rect {
    fill: #9a9b9f;
  }

  .radio {
    width: 20px;
    height: 32px;
    position: absolute;
    left: 0;
    border:none;
    background: transparent;
    transform: translateY(-5px);
    cursor: pointer;
    top: 7px;
    border-radius: 0;
    padding: 0;
  }

  .radio:checked {
    border-bottom: 1px solid #5984ff;
  }

  .radio:checked+svg rect {
    fill:#5984ff;
  }
}*/
