/*position: absolute; visibility: hidden;*/
#admin,
#tasks,
#scorerater,
#paired {
	visibility: hidden;
	position: absolute;
}

#globl {
	&.showA {
		#admin {
			display: block
		}
		#tasks,
		#scorerater,
		#paired {
		}
	}

	&.showM {
		#tasks {
			display: block	
		}
		#admin,
		#scorerater,
		#paired {
		}
	}

	&.showS {
		#scorerater {
			display: block
		}
		#admin,
		#tasks,
		#paired {
		}
	}

	&.showP {
		#paired {
			display: block
		}
		#admin,
		#tasks,
		#scorerater {
		}
 	}
		
}