button {
  border-radius:   4px;
  outline:         none;
  display:         inline-block;
  font-weight:     600;
  line-height:     1.2;
  background:      transparent;
  color:           white;
  text-align:      center;
  vertical-align:  middle;
  cursor:          pointer;
  user-select:     none;
  border:          none;
  font-size:       13px;
  transition:      color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  padding:         10px 18px 10px;
  font-weight:     600;
  transition:      0.2s ease-in-out all;
  box-shadow:      1px 2px 5px 0 rgba(255, 255, 255, 0.01);
  position:        relative;
  font-size:       13px;
  color:           #425466;
  background:      rgba(255, 255, 255, 0.1);
  border-radius:   24px;

  &.blue {
    color:         #5984FF;
    background:    rgba(#3880ff, 0.1);
    box-shadow:    none !important;
    border:        none;
  }

  &.red {
    color:         #ff003f;
    background:    rgba(#ff447f, 0.1);
  }

  &.green {
    color:         #ceff00;
    background:    rgba(#dfff30, 0.1);
  }

  &.no-bg {
    background:    rgba(255, 255, 255, 0.0);
  }

  &.gray {
    background:    $active-bg;
  }

  &.border {
    border:        1px solid rgba(0,2,4,0.05);
  }

  &.A {
    border:        1px solid #5984FF !important;
    color:         #5984FF;
    span {
      color:       #5984FF;

    }
  }
}
.BW {
  top:             0;
  transform:       translate(20px,17px);
  color:           #5984FF;
  background:      rgba(56, 128, 255, 0.1);
  border-radius:   4px;
  position:        absolute;
  margin:          4px 3px 4px 0;
  cursor:          pointer;
  white-space:     nowrap;
  //margin-left:     0;
  font-family:     $base-font;
  font-weight:     600;

  @media (max-width: $tablet-max) {
    padding:       6px 9px 6px 9px;
    font-size:     15px;
    line-height:   2.4;
  }

  @media (min-width: $tablet-min) {
    padding:       4px 6px 4px 5px;
    font-size:     11px;
  }

  &.active,
  &:hover {
    transition: 0.2s ease-in-out all;
  }
}

#signupeq,
#btnSso {
  width:           100%;
  max-width:       none;
  height:          45px;
  display:         flex;
  background:      #4285F4;
  margin:          1em auto;
  border-width:    1px;
  border-radius:   3px;
  color:           white;
  line-height:     45px;
  font-size:       12px;
  box-shadow:      0 3px 6px 0 rgba(36, 129, 215, 0.04),
                   0 2px 3px 0 rgba(36, 129, 215, 0.04);
  text-align:      center;
  display:         block;
  font-weight:     500;
}

.dots {
  width: 15px;
  height: 38px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  .d0,
  .d1,
  .d2 {
    width: 3px;
    height: 3px;
    background: #878c8f;
    position: absolute;
    border-radius: 2px;
    top: 19px;
  }
  .d0 {
    left: 0px;
  }
  .d1 {
    left: 50%;
    transform: translateX(-50%);
  }
  .d2 {
    right: 0px;
  }
}

.dts {
  width: 30px;
  height: 35.5px;
  position: relative;
}

