.dropdown {
  z-index:       999;
  top:           80px;
  margin:        0;
  background:    #fff;
  border-radius: 8px;
  padding:       7px 0 8px 0 !important;
  position:      absolute;
  visibility:    hidden;
  top:           29px;
  opacity:       0;
  transition:    0.2s ease all;
  transform:     translate(2.25px, 30px);

// original, make sure to keep for sort dropdown
  @media (min-width: $tablet-min) {
    right:       -21px;
    width:       120px;
    border:      1px solid rgba(#8898AA, 0.1);
    box-shadow:  1px 3px 14px -4px rgba(0, 2, 4, 0.14);
  }

  @media (max-width: $tablet-max) {
    left:        0;
    width:       100%;
    border:      none;
    box-shadow:  none;
    position:    static;
  }

  .drophead {
    color:       black;
    text-align:  left;
    font-size:   13px;
    color:       black;
    text-align:  left;
    margin:      0;
    display:     block;
    margin-left: 13px;
    font-weight: 600;
  }

  &.active {
    visibility:  visible;
    opacity: 1;
    transform:   translate(2.25px, 0);
  }

  .email, .signout {
    padding:     0 4px 0 13px !important;
    box-sizing:  border-box;
    text-align:  left;
    color:       black;
  }

  .email {
    font-size:   12px;
    margin:      0;
  }

  &>ul {
    margin:      0;
    padding:     0;
  }

  li {
    text-align:  left;
    font-family: $base-font;
    list-style:  none;

    a {
      box-sizing:  border-box;
      display:     block;
      width:       100%;
      padding:     2px 13px;
    }

    a, span {
      line-height: 24px;
      font-size:   11px;
      color:       #424652;
    }
  }

  hr {
    border:      none;
    height:      1px;
    background:  rgba(0,20,30,0.08);
  }

  svg {
    position:    absolute;
    top:         -8px;
    right:       20px;

    @media (max-width: $tablet-max) {
      display: none;
    }
  }
}

#dropn {
  width: 206px;
  li {
        line-height: 14px;
  }
}

#emailTg {
  font-size: 15px;
}