.dropdown {
  z-index:       999;
  top:           80px;
  margin:        0;
  background:    #fff;
  border-radius: 8px;
  padding:       9px 0 9px 0 !important;
  position:      absolute;
  visibility:    hidden;
  top:           29px;
  opacity:       0;
  transform:     translate(2.25px, 30px);


// original, make sure to keep for sort dropdown
  @media (min-width: $tablet-min) {
    transition:  0.2s ease all;
    right:       -21px;
    width:       136px;
    box-shadow:  1px 3px 14px -4px rgba(0, 2, 4, 0.14);
  }

  @media (max-width: $tablet-max) {
    left:        0;
    width:       100%;
    border:      none;
    box-shadow:  none;
  }

  .dropHd {
    opacity: 1;
    color:       black;
    text-align:  left;
    font-size:   13px;
    color:       black;
    text-align:  left;
    margin:      0;
    display:     block;
    margin-left: 13px;
    font-weight: 600;
  }

  &.A,
  &.active {
    visibility:  visible;
    opacity: 1;
    transform:   translate(0, 0);
  }

  .email, .signout {
    box-sizing:  border-box;
    text-align:  left;
    color:       black;
    @media (min-width: $tablet-min) {
      padding:     0 4px 0 13px !important;
    }
  }

  .email {
    font-size:   12px;
    margin:      0;
  }

  &>ul {
    margin:      0;
    padding:     0;
  }

  li {
    text-align:  left;
    font-family: $base-font;
    list-style:  none;

    a {
      box-sizing:  border-box;
      display:     block;
      width:       100%;
      padding:     2px 13px;
    }

    a, span {
      line-height: 24px;
      font-size:   11px;
      color:       #424652;
    }
  }

  hr {
    border: none;
    outline: none;
    height: 1px;
    display: block;
    width: 100%;
    background: rgba(0, 20, 30, 0.08);
  }

  svg {
    position:    absolute;
    top:         -8px;
    right:       24px;

    @media (max-width: $tablet-max) {
      display: none;
    }
  }
}

// Edit Profile Icon
#dea,
#dfa {
  right: -20px;
  transform: translate(0,40px);
}

#dea {
  width: 270px;
}

