input {
  padding:       8px 9px 8px 9px;
}

textarea {
  height:        100px;
  box-sizing:    border-box;
  padding:       10px;
  border-radius: 4px;
}

input,
textarea {
  font-size:     13px;
  background:    transparent;
  border-left:   none;
  border-top:    none;
  border-right:  none;
  margin-top:    5px;
  transition:    0.2s ease-out border;
  border:        1px solid rgba(89, 92, 143, 0.08);
  border-radius: 4px;
  font-family:   $base-font;
  display:       block;
}

input:focus,
textarea:focus {
  border:        1px solid rgba(153, 166, 255, 0.7);
  box-shadow:    0 0 0 5px rgba(89, 132, 255, 0.2);
}

