a {
  text-decoration: none;
  color:           #5984ff;
  font-weight:     500;
  transition:      0.2s all ease-out;
}

a:hover, a:active, a:focus {
  outline:         none;
  color:           #5984ff;
  transition:      0.2s all ease-in;
}