/*position: absolute; visibility: hidden;*/
#profile,
#tasks,
#taskID,
#dark,
#scorerater,
#addonsPanel,
#paired {
	width:  			100%;
	height: 			0;
	visibility: 		hidden;
	position: 			absolute;
}

#gbl {
	&.hideall>* {
		display: none;

	}
	&>#profile,
	&>#tasks,
	&>#taskID,
	&>#paired,
	&>#admin {
		margin-top: 82px;
	}
	&.showRate {
		@media (max-width: $tablet-max) {
			overflow: hidden;
			height: 100vh;
			width: 100vw;
			position: fixed;
		}

		#scorerater {
			height: auto;
			visibility: visible;
		}
		#profile,
		#tasks,
		#paired {
		}

		#barsL {
  			border: 1px solid rgba(0,0,0,0.0);
		  	&:before,
		  	&:after {
		  		background: white !important;
		  	}
		}	
	}

	&.showImg {
		overflow-y: hidden !important;
		#indvImg {
			display: flex;
			opacity: 1;
			visibility: visible;
		}
		#dark {
		    visibility: visible;
		    opacity: 1;
		    height: 100vh;
		    display: block;
		}
	}

	&.showS,
	&.showTasks {
		#tasks {
			height: auto;
			visibility: visible
		}
		#tIdNav,
		#taskMeta {
			display: none;
		}
		.wrapsort {
			width: 100%;
		}
		#profile,
		#scorerater,
		#paired {
		}
	}

	&.showTaskID {
		#tasks {
			height: auto;
			visibility: visible
		}
		#profile,
		#scorerater,
		#paired {
		}
	}

	&.showProfile {
		#profile {
			height: auto;
			visibility: visible
		}
		#tasks,
		#scorerater,
		#paired {
		}
	}


	&.showSignup,
	&.showLogin {
		#nv {
			opacity: 0;
			z-index: 1;
			visibility: visible;
			transform: translate(0,-82px);
		}
		#loginer {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}

	&.showSignup {
		#loginTitle {
			display: none;
		}
		#loginpanel {
			margin-left: 250px;
		}
	}

	&.showLogin {
		#signupTitle {
			display: none;
		}
	}

	

	&.showNotifications {
		#paired {
			height: auto;
			visibility: visible
		}
		#profile,
		#tasks,
		#scorerater {
		}
	}
	
}