/*position: absolute; visibility: hidden;*/
#Pa,
#Ta,
#taskID,
#ZZ,
#Ra,
#Aa,
#Ya,
#Up,
#Xa {
	width:              100%;
	height:             0;
	visibility:         hidden;
	position:           absolute;
}

// login panel
#Ya {
	background: white;
}

#Ga {
	&.hideall>* {
		display: none;

	}
	&>#Pa,
	&>#Ta,
	&>#taskID,
	&>#admin {
		margin-top: 82px;
	}
	&.showPaired {
		#Xa {
			display: block;
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}
	&.showPremium {
		#Aa {
			display: block;
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}

	&.showRate {
		@media (max-width: $tablet-max) {
			overflow: hidden;
			height: 100vh;
			width: 100vw;
			position: fixed;
		}

		#Ra {
			height: auto;
			visibility: visible;
		}
		#Pa,
		#Ta,
		#Xa {
		}

		#Bc {
			border: 1px solid rgba(0,0,0,0.0);

			&:before,
			&:after {
				background: white !important;
			}
		}

		.active #Bc {
			width: 50px;
			height: 50px;
			//border: 1px solid rgba(0,0,0,0.5);

			&:before,
			&:after {
				background: $nav-bars-color !important;
				left: 15px;
			}
			&:before {
				top: 23px;
			}
			&:after {
				bottom: 23px;
			}
		}
	}

	&.showImg {
		overflow-y: hidden !important;
		#Ia {
			display: flex;
			opacity: 1;
			visibility: visible;
		}
		#ZZ {
			visibility: visible;
			opacity: 1;
			height: 100vh;
			display: block;
		}
	}


	&.showUpl {
		#ZZ {
			visibility: visible;
			opacity: 1;
			height: 100vh;
			display: block;
		}
	}

	&.showS,
	&.showTasks {
		#Ta {
			height: auto;
			visibility: visible
		}
		#tIdNav,
		#TMta {
			display: none;
		}
		.wrapsort {
			width: 100%;
		}
		#Pa,
		#Ra,
		#Xa {
		}
	}

	&.showTaskID {
		#Fa {
			display: none;
		}
		#tflta {
			visibility: hidden;
			height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
		}
		#Ta {
			height: auto;
			visibility: visible
		}
		#Pa,
		#Ra,
		#Xa {
		}
	}

	&.showProfile {
		#Pa {
			height: auto;
			visibility: visible;
			
			.profilePage.A {
				visibility: visible;
			}
		}
		#Ta,
		#Ra,
		#Xa {
		}
	}
	&.edit {
		#EPa {
			height: auto;
			visibility: visible;

		}
	}
	&.sec {
		#SCa {
			height: auto;
			visibility: visible;
		}
	}

	&.alr {
		#Alr {
			height: auto;
			visibility: visible;
		}
	}

	&.bil {
		#Bil {
			height: auto;
			visibility: visible;
		}
	}

	&.hlp {
		#Hlp {
			height: auto;
			visibility: visible;
		}
	}


	&.showSignup,
	&.showLogin {
		#Na {
			opacity: 0;
			z-index: 1;
			visibility: visible;
			transform: translate(0,-82px);
		}
		#Ya {
			display: block;
			visibility: visible;
			opacity: 1;
			  height:        100vh;
		}
	}

	&.showSignup {
		#loginTitle {
			display: none;
		}
		#loginpanel {
			margin-left: 250px;
		}
	}

	&.showLogin {
		#signupTitle {
			display: none;
		}
	}

	

	&.showNotifications {
		#Xa {
			height: auto;
			visibility: visible
		}
		#Pa,
		#Ta,
		#Ra {
		}
	}
	
}