/*position: absolute; visibility: hidden;*/
#profile,
#tasks,
#scorerater,
#paired {
	width:  			100%;
	height: 			0;
	visibility: 		hidden;
	position: 			absolute;
}

#gbl {
	&>#profile,
	&>#tasks,
	&>#paired,
	&>#dark,
	&>#admin {
		margin-top: 82px;
	}
	&.showRate {
		@media (max-width: $tablet-max) {
			overflow: hidden;
			height: 100vh;
			width: 100vw;
			position: fixed;
		}

		#scorerater {
			height: auto;
			visibility: visible;
		}
		#profile,
		#tasks,
		#paired {
		}
	}

	&.showS,
	&.showTasks {
		#tasks {
			height: auto;
			visibility: visible
		}
		#profile,
		#scorerater,
		#paired {
		}
	}

	&.showProfile {
		#profile {
			height: auto;
			visibility: visible
		}
		#tasks,
		#scorerater,
		#paired {
		}
	}

	&.showTasks {
	}

	&.showTaskID {
	}

	&.showNotifications {
		#paired {
			height: auto;
			visibility: visible
		}
		#profile,
		#tasks,
		#scorerater {
		}
	}
	
}