#sortDropdown {
  min-width: $dropdown-width;
  box-sizing: border-box;
//  transform: translate(8px, 10px);
  line-height: 32px;
  font-size: 14px;

}

#bblDropdown {
  width: 140px !important;
  min-width: 0;
  box-sizing: border-box;
  transform: translate(90px, 10px);
  right: 0;
  left: 0;
  li {
    line-height: 32px;
    font-size: 14px;
  }
}

.wrapsort {
  position: relative;
  display: flex;
  line-height: 32px;
  font-size: 14px;
}

/*
.sortby {
  padding-right: 1em;
  line-height: 70px;
}*/

.selClick {
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 8px 5px 16px;
  line-height: 50px;
  cursor: pointer;
  background: white;
  line-height: 20px;
  margin: 22px 0;
  display: block;
  color: black;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  
}


.filtered {
  li {
    display: flex;
  }
}

#filterMethodW,
#sortMethodV {
}

.dropdownSelector {
  width: $selector-width;
  position: relative;
  z-index: 99999;
  &.short {
    width: $selector-s-width;
  }
  &.long {
    width: calc(20% - 8px);
  }

  .crt:before,
  .crt:after {
    top: 38px;
    right: 13px;
  }
}

.dropsort {
  right: 0;
  position: absolute;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.0);
  z-index: 999;
  background: white;
  margin: 0;
  top: 54px;
  cursor: pointer;
  box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, 0.1);
  border-radius: 8px;
  padding: 8px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
  transform: translate(8px, 20px);

  &>li{
    padding: 2px 8px 2px 15px;
    transition: 0.4s ease all;
    border-radius: 6px;
    &:hover {
      background: $hover-bg;
    }
    &.active {
      background: $active-bg;
    }
  }

  &.A {
    visibility: visible;
    opacity: 1;
    //transform: translate(8px, 10px);
    &+.crt {
      transform: rotate(180deg);
    }
  }
}

.crt {
  transition: 0.2s ease all;
}

input:checked+.dropsort {
  display: block;
}
