.tasklist {
  width: 100%;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns:  1fr 1fr 1fr;
  padding-bottom: 2em;
}
.tasklist.ii {
  width: 100%;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 2em;
}



.data-score
  font-size: 13px
  font-weight: 500
  font-family: $base-font
  line-height: 32px
  margin-right: 16px




@media (max-width: 1199px) {
.tasklist.ii {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 992px) {
.tasklist.ii {
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media (max-width: 567px) {
.tasklist.ii {
    grid-template-columns: 1fr 1fr;
}
}


.structure
  position: relative;
  width: 20px;
  margin-left: 12px;

  svg: 
    width: 20px;
    height: 24px;
    margin-right: 0;
    display: block;

  rect:
    fill: #9a9b9f;

  .radio:
    width: 20px;
    height: 32px;
    position: absolute;
    left: 0;
    border:none;
    background: transparent;
    transform: translateY(-5px);
    cursor: pointer;
    top: 7px;
    border-radius: 0;
    padding: 0;

  .radio:checked:
    border-bottom: 1px solid #5984ff;

  .radio:checked+svg rect
    fill:#5984ff;




.gridded.v3x2:
  width: 100%;
  display: grid;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 8px;




.tasksHotdog:
  width: 100%;
  display: grid;
  row-gap: 16px;
  column-gap: 8px;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 12px;

  &>img:
    width: 100%;
    display: block;
    margin: 0;




